<div class="container">
	<div id="top" class="row"></div>
	<div class="row">
		<br />
		<div class="row">
			<div class="col-lg-10">
				<div class="self row-bordered">
					<h1 class="name">
						Mattias&nbspOtterholm <span id="textsmall"><i><small>Developer
									and Architect - Java </small></i></span>
					</h1>
					<h2></h2>
					<i class="fa fa-map-marker"><span id="blue">&nbspVägen</span></i><br />
					<i class="fa fa-envelope-o"><span id="blue">&nbspmattias.otterholm@gmail.com</span></i><br />
					<i class="fa fa-phone"><span id="blue">&nbsp+46 756 5354
							91</span></i><br /> <i class="fa fa-external-link"><span id="blue">&nbspwww.google.com</span></i>
					<br />
					<!-- End Personal Information -->
					<!-- Begin Social -->
					<br />
					<ul class="list-unstyled list-inline list-social-icons">
						<li class="tooltip-social facebook-link"><a target="_blank"
							href="https://www.facebook.com/mattias.otterholm"
							data-toggle="tooltip" data-placement="top" title="Facebook"><i
								class="fa fa-facebook-square fa-2x"></i></a></li>
						<li class="tooltip-social linkedin-link"><a target="_blank"
							href="https://www.linkedin.com/in/otterholm/"
							data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
								class="fa fa-linkedin-square fa-2x"></i></a></li>
						<li class="tooltip-social twitter-link"><a target="_blank"
							href="https://twitter.com/motterho" data-toggle="tooltip"
							data-placement="top" title="Twitter"><i
								class="fa fa-twitter-square fa-2x"></i></a></li>
						<li class="tooltip-social google-plus-link"><a
							target="_blank" href="https://plus.google.com/"
							data-toggle="tooltip" data-placement="top" title="Google+"><i
								class="fa fa-google-plus-square fa-2x"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2">
				<!-- Begin Image -->
				<img class="img-rounded" src="../images/me.jpg" style="width: 100%"
					alt="Mattias Otterholm" />
				<div class="ss-item-text">
					<h4 class="imgfont">
						<small>Mattias Otterholm</small>
					</h4>
				</div>
				<!-- End Image -->
				<!-- Begin Personal Information -->
			</div>

			<!-- End Social -->
		</div>
		<!-- hr / -->
		<div class="entry row-bordered">
			<h2 class="fa fa-user">
				OBJECTIVE
				<p>
					<small>Quote</small>
				</p>
			</h2>
			<p>Quote</p>
			<p>&nbsp</p>
		</div>
		<br />
		<!-- End 1st Row -->
		<!-- Begin 2nd Row -->
		<div class="entry row-bordered">
			<h2 class="fa fa-university">EDUCATION</h2>
			<div class="content">
				<h3>1996 - 1999</h3>
				<p>
					System Science, HTU Trollhättan/Uddevalla <br /> <em>Bachelor
						of Sciences in Systems Sciences</em>
				</p>
			</div>
			<div class="content">
				<h3>2005</h3>
				<p>
					Volvo University, Gothenburg <br /> <em>IT Architect
						certification - Swedish Information Processing Society / Volvo
						Information Technology</em>
				</p>
				<p>&nbsp</p>
			</div>
		</div>
		<!-- Start courses -->
		<div class="entry row-bordered">
			<h2 class="fa fa-graduation-cap">COURSES</h2>
			<div class="content">
				<h3>2017</h3>
				<p>
					Volvo Group University, Gothenburg <br /> <em>VEAR – Training
						for IT Architects</em> <em class="note">"VEAR is based on <a
						target="_blank"
						href="http://www.mega.com/en/product/hopex?utm_medium=social&utm_campaign=corp&utm_source=community/">MEGA
							HOPEX Tool</a>"
					</em>
				</p>
			</div>
			<div class="content">
				<h3>2010</h3>
				<p>
					Volvo University, Gothenburg <br /> <em>Black Belt - Volvo
						Group Software Architecture Course</em>
				</p>
			</div>
			<div class="content">
				<h3>2010</h3>
				<p>
					Volvo University, Gothenburg <br /> <em>Teamleader course</em>
				</p>
			</div>
			<div class="content">
				<h3>2007</h3>
				<p>
					Informator <br /> <em>Enterprise JavaBeans 3.0</em>
				</p>
			</div>
			<div class="content">
				<h3>2004</h3>
				<p>
					IBM <br /> <em>Advanced Business Component Development with
						Enterprise JavaBeans Technology</em>
				</p>
			</div>
			<div class="content">
				<h3>2001</h3>
				<p>
					SUN <br /> <em>Programming Enterprise JavaBeans</em>
				</p>
			</div>
			<div class="content">
				<h3>2001</h3>
				<p>
					GTG <br /> <em>CAN / MOST education</em>
				</p>
			</div>
			<div class="content">
				<h3>2000</h3>
				<p>
					SUN <br /> <em>Objektorientering i Java</em>
				</p>
			</div>
			<div class="content">
				<h3>1999</h3>
				<p>
					Rational university course <br /> <em>ClearCase
						Administration </em>
				</p>
			</div>
			<div class="content">
				<h3>1999</h3>
				<p>
					Rational university course <br /> <em>ClearCase Fundamentals
						for Windows </em>
				</p>
				<p>&nbsp</p>
			</div>
		</div>

		<!-- End courses -->
		<!-- End 2nd Row -->
		<!-- Begin 3rd Row -->
		<div class="entry row-bordered">
			<h2 class="fa fa-laptop">Assignment History</h2>
			<div class="content">
				<h3>Sep 2015 - Aug 2017</h3>
				<p>
					Volvo Trucks, Gothenburg <br /> <em>Lead Architect/IT
						Architect</em>
				</p>
				<ul class="info">
					<li>Java, JavaScript, WebSphere, Web services, Oracle, Unix,
						SVN/GIT...</li>
					<li>Lead Architect responsible for EA-reviews and system
						design.</li>
				</ul>
			</div>
			<div class="content">
				<h3>2012 - 2015</h3>
				<p>
					Volvo Trucks, Gothenburg <br /> <em>IT Architect</em>
				</p>
				<ul class="info">
					<li>Java, JavaScript, WebSphere, Web services, Oracle, Unix,
						SVN...</li>
					<li>System Responsible for Development and Maintenance of the
						Impact system.</li>
				</ul>
				<p>&nbsp</p>
			</div>

			<div class="content">
				<h3>2005 - 2012</h3>
				<p>
					Volvo Cars Corporation, Gothenburg <br /> <em>Designer,
						Application Software Architect, System Analyst</em>
				</p>
				<ul class="info">
					<li>J2EE, JavaScript, WebSphere, Web services, Oracle, Unix,
						CVS, WebWork...</li>
					<li>System Responsible for Development and Maintenance of the
						PIE system. Build of WebSphere applications and error analysis in
						the different environments.</li>
				</ul>
				<p>&nbsp</p>
			</div>
			<div class="content">
				<h3>2004 - 2005</h3>
				<p>
					Volvo Cars Corporation, Gothenburg <br /> <em>System
						Analysist, Software Architect, Developer </em>
				</p>
				<ul class="info">
					<li>Java, JavaScript, WebSphere, Web services, Oracle, Unix,
						SVN...</li>
					<li>Design and development of the Ford Motor Company
						application GMRDB.</li>
				</ul>
				<p>&nbsp</p>
			</div>
			<div class="content">
				<h3>2002 - 2004</h3>
				<p>
					Volvo Cars Corporation, Gothenburg <br /> <em>System
						Analysis, Developer.</em>
				</p>
				<ul class="info">
					<li>WebSphere, Java, JSP, Web services...</li>
					<li>Participation in concept studies and developer, PIE II.</li>
				</ul>
				<p>&nbsp</p>
			</div>

			<div class="content">
				<h3>2000 - 2002</h3>
				<p>
					Volvo Cars Corporation, Gothenburg <br /> <em>System
						Analysis, Developer.</em>
				</p>
				<ul class="info">
					<li>WebSphere, Java, JSP, Web services...</li>
					<li>Maintenance and development PIE system.</li>
				</ul>
				<p>&nbsp</p>
			</div>

			<div class="content">
				<h3>1999 - 2000</h3>
				<p>
					Ericsson, Gothenburg <br /> <em>System Analysis, CM.</em>
				</p>
				<ul class="info">
					<li>ClearCase, InstallShield...</li>
					<li>Configuration Management.</li>
				</ul>
				<p>&nbsp</p>
			</div>

		</div>
		<!-- End 3rd Row -->
		<!-- Begin 4th Row -->
		<div class="entry row-bordered">
			<h2 class="fa fa-history">Employment History</h2>
			<div class="content">
				<ul>
					<div class="row">
						<div class="col-lg-2"><h3>Company</h3></div><div class="col-lg-2"><h3>Role</h3></div><div class="col-lg-2"><h3>Duration</h3></div>
					</div>
					<div class="row">
						<div class="col-lg-2"><li>Volvo Group IT</li> </div><div class="col-lg-2">IT Architect</div><div class="col-lg-2">2012 - TBD</div>
					</div>
					<div class="row">
						<div class="col-lg-2"><li>Adecco IT Consult</li> </div><div class="col-lg-2">IT Architect, Developer</div><div class="col-lg-2">2011 - 2012</div>
					</div>
					<div class="row">
						<div class="col-lg-2"><li>Volvo IT</li> </div><div class="col-lg-2">Software Architect</div><div class="col-lg-2">2005 - 2011</div>
					</div>
					<div class="row">
						<div class="col-lg-2"><li>Volvo IT</li> </div><div class="col-lg-2">Analysist, Developer</div><div class="col-lg-2">2000 - 2005</div>
					</div>
					<div class="row">
						<div class="col-lg-2"><li>Ericsson Compitex</li> </div><div class="col-lg-2">Configuration Manager</div><div class="col-lg-2">1999 - 2000</div>
					</div>

				</ul>
			</div>
			<p>&nbsp</p>
		</div>
	</div>
</div>
