<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <img class="portrait" src="../images/me.jpg" alt="Mattias Otterholm" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name">Mattias Otterholm <br />
              <span>ITA - Java </span></h1>
            <ul>
              <li class="ad">Vägen</li>
              <li class="mail">mattias.otterholm@gmail.com</li>
              <li class="tel">+46 756 5354 91</li>
              <li class="web">www.google.com</li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
          <div class="social">
            <ul>
              <li><a class='north' href="#" title="Download .pdf"><img src="../images/icn-save.jpg" alt="Download the pdf version" /></a></li>
              <li><a class='north' href="javascript:window.print()" title="Print"><img src="../images/icn-print.jpg" alt="" /></a></li>
              <li><a class='north' id="contact" href="contact/index.html" title="Contact Me"><img src="../images/icn-contact.jpg" alt="" /></a></li>
              <li><a class='north' href="#" title="Follow me on Twitter"><img src="../images/icn-twitter.jpg" alt="" /></a></li>
              <li><a class='north' href="#" title="My Facebook Profile"><img src="../images/icn-facebook.jpg" alt="" /></a></li>
            </ul>
          </div>
          <!-- End Social -->
        </div>
        <!-- Begin 1st Row -->
        <div class="entry">
          <h2>OBJECTIVE</h2>
          <p>Quote</p>
        </div>
        <!-- End 1st Row -->
        <!-- Begin 2nd Row -->
        <div class="entry">
          <h2>EDUCATION</h2>
          <div class="content">
            <h3>1996 - 1999</h3>
            <p>System Science, HTU Trollhättan/Uddevalla <br />
              <em>Bachelor of Sciences in Systems Sciences</em></p>
          </div>
          <div class="content">
            <h3>2005</h3>
            <p>Volvo University, Gothenburg <br />
              <em>IT Architect certification - Swedish Information Processing Society / Volvo Information Technology</em></p>
          </div>
        </div>
		<!-- Start courses -->
        <div class="entry">
          <h2>COURSES</h2>
          <div class="content">
            <h3>2017</h3>
            <p>Volvo Group University, Gothenburg <br />
              <em>VEAR – Training for IT Architects</em>
              <em class="note">"VEAR is based on <a target="_blank" href="http://www.mega.com/en/product/hopex?utm_medium=social&utm_campaign=corp&utm_source=community/">MEGA HOPEX Tool</a>"</em></p>
          </div>
          <div class="content">
            <h3>2010</h3>
            <p>Volvo University, Gothenburg <br />
              <em>Black Belt - Volvo Group Software Architecture Course</em></p>
          </div>
          <div class="content">
            <h3>2010</h3>
            <p>Volvo University, Gothenburg <br />
              <em>Teamleader course</em></p>
          </div>
          <div class="content">
            <h3>2007</h3>
            <p>Informator <br />
              <em>Enterprise JavaBeans 3.0</em></p>
          </div>
          <div class="content">
            <h3>2004</h3>
            <p>IBM <br />
              <em>Advanced Business Component Development with Enterprise JavaBeans Technology</em></p>
          </div>
          <div class="content">
            <h3>2001</h3>
            <p>SUN <br />
              <em>Programming Enterprise JavaBeans</em></p>
          </div>
          <div class="content">
            <h3>2001</h3>
            <p>GTG <br />
              <em>CAN / MOST education</em></p>
          </div>
          <div class="content">
            <h3>2000</h3>
            <p>SUN <br />
              <em>Objektorientering i Java</em></p>
          </div>
          <div class="content">
            <h3>1999</h3>
            <p>Rational university course <br />
              <em>ClearCase Administration </em></p>
          </div>
          <div class="content">
            <h3>1999</h3>
            <p>Rational university course <br />
              <em>ClearCase Fundamentals for Windows </em></p>
          </div>
        </div>
       
		<!-- End courses -->
        <!-- End 2nd Row -->
        <!-- Begin 3rd Row -->
        <div class="entry">
          <h2>EXPERIENCE</h2>
          <div class="content">
            <h3>May 2009 - Feb 2010</h3>
            <p>Agency Creative, London <br />
              <em>Senior Web Designer</em></p>
            <ul class="info">
              <li>Vestibulum eu ante massa, sed rhoncus velit.</li>
              <li>Pellentesque at lectus in <a href="#">libero dapibus</a> cursus. Sed arcu ipsum, varius at ultricies acuro, tincidunt iaculis diam.</li>
            </ul>
          </div>
          <div class="content">
            <h3>Jun 2007 - May 2009</h3>
            <p>Junior Web Designer <br />
              <em>Bachelor of Science in Graphic Design</em></p>
            <ul class="info">
              <li>Sed fermentum sollicitudin interdum. Etiam imperdiet sapien in dolor rhoncus a semper tortor posuere. </li>
              <li>Pellentesque at lectus in libero dapibus cursus. Sed arcu ipsum, varius at ultricies acuro, tincidunt iaculis diam.</li>
            </ul>
          </div>
        </div>
        <!-- End 3rd Row -->
        <!-- Begin 4th Row -->
        <div class="entry">
          <h2>SKILLS</h2>
          <div class="content">
            <h3>Software Knowledge</h3>
            <ul class="skills">
              <li>Photoshop</li>
              <li>Illustrator</li>
              <li>InDesign</li>
              <li>Flash</li>
              <li>Fireworks</li>
              <li>Dreamweaver</li>
              <li>After Effects</li>
              <li>Cinema 4D</li>
              <li>Maya</li>
            </ul>
          </div>
          <div class="content">
            <h3>Languages</h3>
            <ul class="skills">
              <li>CSS/XHTML</li>
              <li>PHP</li>
              <li>JavaScript</li>
              <li>Ruby on Rails</li>
              <li>ActionScript</li>
              <li>C++</li>
            </ul>
          </div>
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
        <div class="entry">
        <h2>WORKS</h2>
        	<ul class="works">
        		<li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="../images/image.jpg" alt="" /></a></li>
        		<li><a href="images/2.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="../images/image.jpg" alt="" /></a></li>
        		<li><a href="images/3.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="../images/image.jpg" alt="" /></a></li>
        		<li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="../images/image.jpg" alt="" /></a></li>
        		<li><a href="images/2.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="../images/image.jpg" alt="" /></a></li>
        		<li><a href="images/3.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="../images/image.jpg" alt="" /></a></li>
        		<li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="../images/image.jpg" alt="" /></a></li>
        		<li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="../images/image.jpg" alt="" /></a></li>
        	</ul>
        </div>
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
